div#Dashboard{
    padding-top: 20px;
    width: 1000px;
    border-radius: 15px;
    height: 400px;

    background: rgba(252, 252, 252, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(252, 252, 252, 0.3);

    position: absolute;
    left: 430px;
    top:180px;
    display: flex;
}
#gridDashboard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 0;
    padding: 0;
}