*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

ul li{
    text-align: center;
}

ul li:last-child{
    margin-bottom: 8px;
}

.menuItems{
    float: left;
    width: 85%;
    background-color: #B1D4E0;
    border: 1px solid #145DA0;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    user-select: none;
}
  
aside{
    min-width: 180px;
    width: 25%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: #145DA0;
    border-radius: 0px 20px 20px 0;
    box-shadow: 5px 5px 5px black;
    padding-top: 20px;
}

aside ul li.active{
    float: left;
    width: 85%;
    background-color: #2E8BC0;
    border-radius: 15px;
    border: 1px solid #145DA0;
    cursor: pointer;
    user-select: none;
}
