*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul li{
    text-align: center;
}

.menuItems{
    float: left;
    width: 100%;
    background-color: #B1D4E0;
    border: 1px solid #145DA0;
    color: black;
}
  
aside{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    float: left;
}

aside ul li.active{
    float: left;
    width: 100%;
    background-color: #B1D4E0;
    border: 1px solid #145DA0;
    color: rgb(255, 84, 84);
}
